.main {
  border: 1px solid rgba(0, 13, 29, 0.08);
  border-radius: 12px;
  padding: 16px 24px 34px;
}

.nameCon {
  width: fit-content;
}

.title {
  font-size: 20px;
  color: rgb(0, 13, 29);
}

.line {
  position: absolute;
  height: 2px;
  bottom: -5px;
  width: 100%;
  background: #F8B920;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.inputContainer {
  position: relative;
}

.input {
  direction: ltr;
  width: 100%;
  height: 54px;
  margin-top: 24px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background: rgba(0, 13, 29, 0.04);
}

.button {
  width: 100%;
  font-size: 18px;
  line-height: 48px;
  margin-top: 24px;
  border-radius: 6px;
  display: block;
  text-align: center;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background: #f6b71d;
  border: none;
}

@media only screen and (max-width: 993px) {
  .main {
    margin-top: 24px;
  }
}
